---
import MainLayout from '../../layouts/MainLayout.astro'
import type { TBlogPost } from '../../types/blog'
import Card from '../../components/Card.astro'

// 取得所有文章
const allPosts = await Astro.glob<TBlogPost>('../blogs/*.md')

// 取得網址參數中的 category
const { category } = Astro.params

// 篩選出屬於該 category 的文章
const filteredPosts = allPosts.filter((post) => post.frontmatter?.category === category)

// 產生所有 category 對應的靜態路徑
export async function getStaticPaths() {
	const posts = await Astro.glob<TBlogPost>('../blogs/*.md')
	const categorySet = new Set<string>()

	for (const post of posts) {
		if (post.frontmatter?.category) {
			categorySet.add(post.frontmatter.category)
		}
	}

	return Array.from(categorySet).map((category) => ({
		params: { category }
	}))
}
---

<MainLayout title={`分類: ${category} | Alyse Wang`}>
	<section class="py-16 md:py-20">
		<div class="container">
			<h1 class="mb-10 text-center text-h3">分類: {category}</h1>
			<ul class="g-row gap-y-8 sm:gap-y-10">
				{filteredPosts.length === 0 ? <p>沒有找到相關文章。</p> : null}
				{
					filteredPosts.map((post) => (
						<li class="col-span-12 sm:col-span-6 lg:col-span-4">
							<Card postData={post.frontmatter} />
						</li>
					))
				}
			</ul>
		</div>
	</section>
</MainLayout>
