---
import '../styles/global.css'
const { title } = Astro.props
const currentYear = new Date().getFullYear()
---

<html lang="zh-TW">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="site">
		<header class="fixed top-0 left-0 z-10 w-full bg-white">
			<div class="container">
				<ul class="flex items-center justify-center gap-10 py-6 text-7 font-bold">
					<li><a href="/">首頁</a></li>
					<li><a href="/blog">部落格</a></li>
				</ul>
			</div>
		</header>
		<main class="site-main">
			<slot />
		</main>
		<footer class="site-footer py-6 text-center">
			<div class="container">
				© {currentYear} Alyse Wang. All rights reserved.
			</div>
		</footer>
	</body>
</html>